@import 'variables';

section.booking {
    background-color: var(--color-green);
    padding: 33px 16px 66px;

    .container {
        // max-width: $content-max-width;
        max-width: 350px;
        margin: 0 auto;
    }
    
    h3,h4 {
        color: #fff;
        margin-bottom: 18px;
    }
}


