@mixin min-width($width) {
  @media (min-width: #{$width}) {
    @content;
  }
}

@mixin max-width($width) {
  @media (max-width: #{$width}) {
    @content;
  }
}

$breakpoint-xsmall: 320px;
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-extra-large: 1300px;

$content-max-width: 876px;